
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Mianpage.cshtml";
    <style>
        .Div1 {
            width:60%;
            float:left;
            color:Black;
        }
    </style>

}

<h2>AboutUs</h2>
<div class="Div1">
    <p>
        <strong>
            --> The core essence  of our system is realization of Vehicle Booking functions for Customers,
            Branch Administrators and Main Admin.
            Customers and Branch Administrators can create their account and get it approved by the Main Admin
        </strong>
    </p>
    <tr><td>&nbsp;</td></tr>
    <p>
        <strong>
            --> On Approval,the customer can search vehicles based on different search criteria and put in a booking request.
        </strong>
    </p>
    <tr><td>&nbsp;</td></tr>
    <p>
        <strong>
            -->  The Branch Admin is now able to view the list of booking requests and approved them based on vehicle availability.
            In case, if a Branch Admin is short on the number/type of vehicles requested by various customer, he/she has to request
            the vehicles from Main Admin.
        </strong>
    </p>
    <tr><td>&nbsp;</td></tr>
    <p>
        <strong>
            --> The Main Admin is able to view the list of stock addition requests from various Branch Admins.
        </strong>
    </p>
    <tr><td>&nbsp;</td></tr>
    <p>
        <strong>
            --> Both the customer and the Branch Admin can see the status of the requests by clicking the "Status" option.
        </strong>
    </p>
</div>


