
@{
    ViewBag.Title = "Approvemsg";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<marquee behavior="alternate"><h1><strong>You have succesfully approved the requests.Thank you!!</strong></h1></marquee>

