
@{
    ViewBag.Title = "MainPage";
    Layout = "~/Views/Shared/_Mianpage.cshtml";
    
}

<h1><marquee behavior="alternate"><strong>Welcome to Online Vehicle Registration..!</strong></marquee></h1>
<tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
</tr>
<h2 style="color:black; text-align:center"><strong>Please Login to proceed further!!</strong></h2>

<tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
</tr>

<div class="main_features" style="background-color: #253340; color: white; margin-top:30px;">
    <div class="text-center" style="padding:0 10%;">
        <div class="arrow-down" style="width: 0; height: 0;border-left: 15px solid transparent;border-right: 15px solid transparent;border-top: 16px solid #fff;margin-left:49%;"></div>
        <div class="row">

            <div class="main_feature col-lg-4">
                <i class="fa fa-credit-card fa-4x"></i>
                <h2>Online payments</h2>
                <p>You can take online payments or pre-payments</p>
            </div>
            <div class="main_feature col-lg-4">
                <i class="fa fa-map-marker fa-4x"></i>
                <h2>Multiple Branch locations</h2>
                <p> You can request vehicles from any Branch</p>
                <p></p>
            </div>
            <div class="main_feature col-lg-4">
                <i class="fa fa-usd fa-4x"></i>
                <h2>Flexible pricing</h2>
                <p>Our Booking price will be able to reflect your pricing model however complex it may be.</p>
            </div>
        </div>
    </div>
</div>

