@{
    ViewBag.Title = "RejectLogin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="color:white">OOPS!!The admin has rejected your account request</h2>
@using (Html.BeginForm())
{
    
}


