
@{
    ViewBag.Title = "WrongLogin";
    Layout = "~/Views/Shared/_Loginlayout.cshtml";
}

<h1 style="color:white"><strong>OOPS! Seemss like your approval is pending or you have entered wrong credentials</strong></h1>



